<div class="about-section">
  <h1>FAQ</h1>
  <h2>Pourquoi utiliser eLocus ?</h2>
  <p>
    eLocus est une plateforme permettant une gestion unifiée et transparente des
    salles et espaces de l'INSAT et permet aux clubs de réserver à distance.
  </p>
  <h2>Comment faire pour réserver une salle ?</h2>
  <p>
    Il faut créer un compte pour le club et puis procéder à la réservation en
    fournissant les informations demandées.
  </p>
  <h2>Quelles sont les salles qu'on peut réserver ?</h2>
  <p>
    Les types des salles ainsi que leurs capacités respectives sont indiquées et
    mises à jour en cas de modification.
  </p>
  <h2>Est-ce qu'on peut réserver plusieurs salles ?</h2>
  <p>Oui, il est possible de réserver plusieurs salles, pour une même durée.</p>
  <h2>Est-ce qu'on peut réserver des salles pour plusieurs jours ?</h2>
  <p>
    Oui, la durée minimale est d'un jour. Les monopolisations sont interdites.
  </p>
</div>
