<div class="about-section">
  <h1>FAQ</h1>
  <h2>Qu'elle est la fonctionnalité de notre site ?</h2>
  <p>Gérer les résérvations des salles pour les événements du club.</p>
  <h2>Comment faire pour réserver une salle ?</h2>
  <p>Il faut créer un compte pour le club et puis réserver.</p>
  <h2>Quelles sont les salles qu'on peut réserver ?</h2>
  <p>
    Vous pouvez trouvez les types des salles ainsi que leurs capacités dans le
    formulaire.
  </p>
  <h2>Est-ce qu'on peut réserver plusieurs salles ?</h2>
  <p>Oui.</p>
  <h2>Est-ce qu'on peut réserver des salles pour plusieurs jours ?</h2>
  <p>Oui.</p>
</div>
