<div id="container">
  <form
    #ngform
    action="http://127.0.0.1:8080/api/reservation"
    method="POST"
    (ngSubmit)="save()"
  >
    <h1>Réserver une salle</h1>

    <label
      ><b>Type de la salle</b>
      <input
        type="text"
        list="type"
        placeholder="Séléctionnez le type de la salle"
        [(ngModel)]="id_type"
        name="salle"
        required
    /></label>
    <datalist id="type">
      <option value="Auditaurium" id="AUDITO"></option>
      <option value="Salle de conférance" id="CONFERENCE"></option>
      <option value="Salle de lecture" id="SL"></option>
      <option value="Amphi" id="AMPPHI"></option>
      <option value="Salle normale" id="TD"></option>
      <option value="Espace coworking" id="COWORKING"></option>
    </datalist>

    <label><b>Date de la réservation</b></label>
    <input
      type="date"
      placeholder="Entrer la date de la réservation"
      [(ngModel)]="date"
      name="date"
      required
    />

    <label><b>Date soumission</b></label>
    <input
      type="date"
      placeholder="Entrer l'identifiant du club"
      name="date"
      [(ngModel)]="dateS"
      required
    />

    <label
      ><b>Durée de la réservation</b>
      <input
        type="text"
        list="durée"
        placeholder="Séléctionner la durée de la réservation"
        [(ngModel)]="duree"
        name="duree"
        required
    /></label>
    <datalist id="durée">
      <option value="1"></option>
      <option value="2"></option>
      <option value="3"></option>
    </datalist>

    <label><b>Nom de l'événement</b></label>
    <input
      type="text"
      placeholder="Entrer le nom de l'événement"
      name="nom"
      [(ngModel)]="nom"
      required
    />

    <label><b>Type de l'événement</b></label>
    <input
      type="text"
      placeholder="Entrer le type de l'événement"
      name="type_event"
      [(ngModel)]="type_event"
      required
    />

    <input
      data-toggle="modal"
      data-target="#exampleModal"
      type="submit"
      id="submit"
      (click)="send()"
      value="Envoyer la demande"
    />

    <div *ngIf="alert" class="alert alert-dark" role="alert">
      Félicitations! Votre demande a été envoyée aux autorités. Une réponse vous
      sera transmise.
    </div>
  </form>
</div>
