<div id="info-section">
  <div class="container site-section" id="info">
    <h1>Les salles disponibles</h1>
    <div class="row">
      <div class="col-4 col-md-4 item">
        <img
          class="w-100 d-block"
          src="../../assets/Salles/Salles Vides/Audito/IMG_5114.JPG"
          alt="Slide Image"
        />
        <h2>Auditorium</h2>
      </div>
      <div class="col-4 col-md-4 item">
        <img
          class="w-100 d-block"
          src="../../assets/Salles/Salles Vides/Amphi/IMG_5124.JPG"
          alt="Slide Image"
        />
        <h2>Amphi</h2>
      </div>
      <div class="col-4 col-md-4 item">
        <img
          class="w-100 d-block"
          src="../../assets/Salles/Salles Vides/TD/IMG_5122.JPG"
          alt="Slide Image"
        />
        <h2>Salle TD</h2>
      </div>
      <br class="row" />
      <div class="col-4 col-md-4 item">
        <img
          class="w-100 d-block"
          src="../../assets/Salles/Salles Vides/SL/IMG_5119.JPG"
          alt="Slide Image"
        />
        <h2>Salle de lecture</h2>
      </div>
      <div class="col-4 col-md-4 item">
        <img
          class="w-100 d-block"
          src="../../assets/Salles/Salles Vides/Conf/IMG_5106.JPG"
          alt="Slide Image"
        />
        <h2>Salle de conférences</h2>
      </div>
      <div class="col-4 col-md-4 item">
        <img
          class="w-100 d-block"
          src="../../assets/Salles/Salles Vides/Cow/IMG_5103.JPG"
          alt="Slide Image"
        />
        <h2>Espace coworking</h2>
      </div>
    </div>

    <button type="button" (click)="reserver()" class="btn btn-secondary">
      Réserver
    </button>
  </div>
</div>
