<section class="header1 cid-qyvisAZ1Bw" id="header1-7" data-rv-view="758">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <h3
          class="
            mbr-section-subtitle
            align-center
            mbr-light
            pb-3
            mbr-fonts-style
            display-2
          "
        >
          A propos de eLocus
        </h3>
        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
          eLocus a pour vocation de permettre la réservation et la gestion des
          salles et espaces destinés aux clubs à l’INSAT par la DVURE. Cette
          plateforme permettra aux clubs, de réserver les salles et à la DVURE
          de valider les demandes. Ce projet entre dans le cadre de la
          digitalisation administrative et l’inclusion des règles de
          transparence dans la prise de décision.
        </p>
      </div>
    </div>
  </div>
</section>
